// COLORS
$primary-color: #fc4a1a;
$secondary-color: #f7b733;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #ffff;
$black-color: #120f17;

$dark-grey: #333333;

$white-text: #ffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
